<div>
  <input type="text" [(ngModel)]="search" (keyup)="doSearch()">
  <a mat-icon-button matTooltip="Ajouter"
      routerLink="/consumer-form">
    <mat-icon>person_add</mat-icon>
  </a>
</div>

<table>
  <thead>
    <th>id</th>
    <th>Civilité</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>email</th>
    <th>Téléphone</th>
    <th>Actions</th>
  </thead>
  <tr *ngFor="let consumer of consumers|async">
    <td>{{consumer.id}}</td>
    <td>{{consumer.civility}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.email}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>
      <a mat-icon-button matTooltip="Editer"
          [routerLink]="['/consumer-form',consumer.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button matTooltip="Supprimer"
          (click)="delete(consumer.id!)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </tr>
</table>
